<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Istriwala Dashboard</title>
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("styles"))
    {
        @RenderSection("styles", required: false)
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/modernizr")
   </head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
                </button>
                @Html.ActionLink("Istriwala", "Dashboard", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                 

                </ul>
                <ul class="nav navbar-nav">
                    <li class=" dropdown">
                        <a id="topNav_User" class="dropdown-toggle"  data-toggle="dropdown">
                            User
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Logout</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="#">ISTRIWALA</a></p>
        </footer>
    </div>

  

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }

</body>
</html>
